h1, h2, h3, h4, div, li, ul {
  font-family: 'Lora';
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* vaaleanharmaa */
  color: #000; /* musta teksti */
}

#vitamin-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 100%;
  justify-content: center;
}   

.box {
  width: 88px;
  height: 40px;
  background-color: lightgray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: smaller;
}

.green {
  background-color: rgb(88, 197, 88) !important;
}

#selected-list li {
  cursor: pointer;
}

#suggestions {
  cursor: pointer;
}

#already-eaten-list li {
  list-style-type: disc;
  list-style-position: outside; 
  margin-right: 25px;
  margin-bottom: 10px;
}

.vitamin-list-item {
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-x: hidden;
}

.vitamin-text {
  font-size: smaller;
  color: gray;
}

.box2 {
  padding: 10px;
  margin: 5px;
  background-color: #b1f0b4;
  border: 1px solid #6ce672;
  cursor: pointer;
  border-radius: 5px;
}

.box2:hover {
  background-color: rgb(88, 197, 88); 
}

.box2.selected {
  background-color: rgb(88, 197, 88); 
  border-color: rgb(88, 197, 88);
  color: white;
}

#veggie-list {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

#load-btn {
  padding: 8px 12px;
  background-color: #b1f0b4;
  color: black;
  border: none;
  cursor: pointer;
}

#load-btn:hover {
  background-color: rgb(88, 197, 88);
}

#load-btn.selected {
  background-color: rgb(88, 197, 88);
}

body {
  background-color: #f8f3eb;
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
}
