<!doctype html>
<head>
    <title>Versatile vegetables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div>
            <img src="{{ url_for('static', filename='images/vegetables.jpg') }}" alt="Different vegetables"  height="292"/>
            <h1>Well done!</h1>
            <p>
                You ate {{name}}
            </p>
            <a href="{{ url_for('index') }}">Back home</a>
          </div>
     </main>      
   </body>
</html>