<!doctype html>
<head>
    <title>Versatile vegetables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div>
            <img src="{{ url_for('static', filename='images/vegetables.jpg') }}" alt="Different vegetables" height="292"/>
            <h1>Track your vegetables</h1>            
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div>
                <div>
                    <input type="text" id="name" name="name" placeholder= "Vegetable" style="max-width: 256px;">
                  </div>            
                <div>
                  <button type="submit">Eat it</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>