<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegetable Selector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/vegetables.jpg') }}" alt="Different vegetables" height="292"/>

        <h2>Select Vegetables to Eat</h2>
        <input type="text" id="inputField" placeholder="Type a vegetable...">
        
        <ul id="suggestions" class="suggestion-list"></ul>
        <button id="eat-me-button">EAT</button>
        
        <ul id="selected-list" class="selected-list"></ul>
        
        <h3>You have eaten this week:</h3>
        <ul id="already-eaten-list" class="selected-list"></ul>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>